<div class="container-fluid mt-5 col-md-7">
  <div class="card">
    <div class="card-header bg-dark text-center text-white">
      <h4 class="card-title">Iniciar Sesión</h4>
    </div>

    <form [formGroup]="formulario" (submit)="iniciarSesion()">
      <div class="card-body">
        <div class="mb-3">
          <label for="email" class="form-label"
            >Email: @if(formulario.get("email")?.errors?.["required"] &&
            formulario.get('email')?.touched){
            <small class="form-text text-danger">Este campo es requerido</small>
            } @if(formulario.get("email")?.errors?.["email"] &&
            formulario.get('email')?.touched){
            <small class="form-text text-danger">El Email es invalido</small>
            }
          </label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            autocomplete="off"
            placeholder="example@example.com"
            formControlName="email"
          />
        </div>

        <div class="mb-3">
          <label for="contrasenia" class="form-label"
            >Contraseña: @if(formulario.get("contrasenia")?.errors?.["required"]
            && formulario.get('contrasenia')?.touched){
            <small class="form-text text-danger">Este campo es requerido</small>
            } @if(formulario.get("contrasenia")?.errors?.["minlength"] &&
            formulario.get('contrasenia')?.touched){
            <small class="form-text text-danger">Minimo 10 caracteres</small>
            }
          </label>
          <input
            type="password"
            class="form-control"
            name="contrasenia"
            id="contrasenia"
            autocomplete="off"
            formControlName="contrasenia"
          />
        </div>
      </div>

      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-success w-100"
          [disabled]="!formulario.valid"
        >
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
</div>
